<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Spring Boot Thymeleaf Application - Bootstrap DataTable</title>
    <link th:href="@{webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} " th:rel="stylesheet"/>
    <link th:href="@{css/main.css}" rel="stylesheet"/>
</head>
<body>
<div th:replace="fragments/header :: header"></div>

<!-- Navigation -->


<!--  tabela   -->



<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
<script th:src="@{js/workers.js}" src="../static/js/"></script>
<script th:src="@{js/moment.js}" src="../static/js/moment.js"></script>


</body>
</html>